.leftColumn {
  padding: 3rem;
  text-align: right;
  font-weight: 300;
  background: var(--left-column-bg);
  color: var(--left-column-color);
}

@media (max-width: 500px) {
  .leftColumn {
    padding: 1.5rem;
  }
}

.leftColumn h1,
.leftColumn h2,
.leftColumn h3,
.leftColumn h4,
.leftColumn h5,
.leftColumn h6 {
  color: var(--left-headings-font-color);
}

@media (prefers-color-scheme: dark) {
  :global(.night) .leftColumn h1 {
    text-shadow:
      .05em .05em 0 hsl(var(--white-hsl) / 0.1),
      0 0 15px var(--white),
      0 0 52px var(--left-column-color);
  }

  :global(.night) .leftColumn h2,
  :global(.night) .leftColumn h3,
  :global(.night) .leftColumn h4,
  :global(.night) .leftColumn h5,
  :global(.night) .leftColumn h6 {
    text-shadow:
      .1em .1em 0 hsl(var(--white-hsl) / 0.1),
      0 0 8px var(--white),
      0 0 52px var(--left-column-color);
  }
}

@media screen and (max-width: 950px) {
  .leftColumn {
    text-align: left;
  }
}

@media print {
  .leftColumn {
    float: left;
    position: relative;
    width: 33%;
  }

  .leftColumn::after {
    content: "";
    background: var(--left-column-bg);
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    height: 110vh;
  }
}

@media (min-width: 951px) {
  .leftColumn :global(.list-item) {
    align-items: flex-end;
  }
}

.rightColumn {
  padding: 3rem;
}

@media (max-width: 500px) {
  .rightColumn {
    padding: 1.5rem;
  }
}

.rightColumn h1,
.rightColumn h2,
.rightColumn h3,
.rightColumn h4,
.rightColumn h5,
.rightColumn h6 {
  color: var(--right-headings-font-color);
}

@media (prefers-color-scheme: dark) {
  :global(.night) .rightColumn h1 {
    text-shadow:
      .05em .05em 0 hsl(var(--white-hsl) / 0.1),
      0 0 15px var(--white),
      0 0 52px var(--font-color);
  }

  :global(.night) .rightColumn h2,
  :global(.night) .rightColumn h3,
  :global(.night) .rightColumn h4,
  :global(.night) .rightColumn h5,
  :global(.night) .rightColumn h6 {
    text-shadow:
      .1em .1em 0 hsl(var(--white-hsl) / 0.1),
      0 0 8px var(--white),
      0 0 52px var(--font-color);
  }
}

@media print {
  .rightColumn {
    float: left;
    position: relative;
    width: 66%;
  }
}
