.button {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  z-index: 5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--night-switch-bg);
  color: var(--night-switch-color);
  box-shadow: var(--canvas-shadow);
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}

@media (max-width: 950px) {
  .button {
    right: 2rem;
    bottom: 2rem;
  }
}

@media print {
  .button {
    display: none;
  }
}
