.title {
  font-size: var(--font-size-l);
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.subtitle {
  font-size: var(--font-size-s);
}

.text {
  font-size: var(--font-size-xs);
}

.container {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  padding-bottom: 0.9rem;
}
